/*
1.제일 큰 방 스타일
-size 변경
 : width, height -> 100px,100% , inherit
*/

#header {
    /* 헤더는 기본스타일이 블럭임 */
    height: 70px;
  
}

#header .content-container {
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*height:inherit도 가능하긴함*/

}

#visual {
    height: 171px;
    background: #313131 url("../images/bg-visual.png") no-repeat center;

    /* background: #313131; */
    border-top: 5px solid #8cba34;
    /* border: 5px solid #8cba34; */
}

#visual .content-container {
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* background: url("../images/hybrid_main.png") no-repeat center; */
    /* background-size: cover; */
}

#body {


    min-height: 300px;

    border-top: 5px solid #8cba34;
    /* margin-top: 1px; */

}

#body .content-container {
    width: 960px;
padding-bottom: 80px;
    min-height: inherit;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    background: url(../images/bg-body.png) repeat-y;
    /* background-size: cover; */
}

#body .content-container .aside {
    width: 205px;
    min-width: 205px;
    min-height: inherit;
    background: url(../images/bg-aside-title.png) no-repeat left top;
}

#body .content-container .main {
    /* 박스에 크기를 할당해준다.  */
    /* box-sizing: border-box; */
    /* width: 755px; */
    /* flex-grow: 1; */
    min-height: inherit;
    padding-top: 45px;
    padding-left: 35px;

    --position: absolute;
    --top: 20px;
    --left: 20px;
}

#footer {
    height: 100px;
    background-color: #313131;
}

#footer .content-container {
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    /* background-size: cover; */
}